.footer
{
    background-color: #0068BF;
    margin-top: 100px;
    height: 156px;
    display: flex;
    align-items: center;
}

.footer .container
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 470px;
}

.footer__decsription
{
    max-width: 595px;
}

.footer__decsription-text
{
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 14px;
}