.hero
{
    background-image: url("../Images/necropolis.svg");
    height: 100vh;
    padding-top: 236px;
    margin-bottom: 100px;
    background-size: cover;
}

.hero__title
{
    max-width: 1285px;
    width: 100%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    color: white;
}

.hero__wr
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

h1
{
    font-family: Montserrat;
    font-weight: 800;
    font-style: ExtraBold;
    font-size: 64px;
    text-align: center;
}

.hero__description
{
    width: 672px;
    height: 54px;

    font-family: Montserrat;
    font-weight: 700;
    font-style: Bold;
    font-size: 22px;
    text-align: center;
    color: #ffffff;
}